body {
  padding-top: 200px;
  background-color: rgb(21, 18, 44);
  color: white;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.profile2 {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border: none;
  border-radius: 200px;
  margin-bottom: 50px
}
.name2 {
  font-size: 40px;
  text-align: center;
}
.pekerjaan {
  font-size: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 140, 255);
  font-weight: bold;
}

.container2 {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 40px;
  margin-bottom: 200px;
}

.box1 {
  display: flex;
  align-items: center;
  font-size: 25px;
  background-color: gray;
  padding: 5px 20px;
  border-radius: 50px;
}

.box2 {
  display: flex;
  align-items: center;
  text-align: end;
  font-size: 25px;
  background-color: gray;
  padding: 5px 20px;
  border-radius: 50px;
  transition: background-color, color 0.2s;
}
.box2:hover, .box1:hover {
  background-color: white;
  color: black;
  border-width: 1px;
}
.wa {
  height: 50px;
  margin-right: 10px;
}
.ig {
  height: 40px;
  margin-left: 15px;
}

.container3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 180px;
} 
.deskripsi {
  width: 500px;
  font-size: 22px;
  line-height: 35px;
  background-color: rgba(182, 182, 182, 0.712);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 50px;
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exp-img1 {
  height: 450px;
  margin-bottom: 50px;
  border: none;
  border-radius: 30px;
}



.skill-img {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 100px;
}
.box4 {
  text-align: center;
}
.box4 p {
  font-size: 40px;
}
.skill {
  height: 150px;
  border: none;
  border-radius: 40px;
}
.container6 {
  text-align: center;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center

}
.thanks {
  font-size: 50px;
}
.box-message {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}
.message {
  font-size: 30px;
}